@font-face {
	font-family: "Zpix";
	src: url("https://raw.githubusercontent.com/angelkawaiix/NSO-web-theme/main/resources/zpix.woff2");
}

* {
	--purple: #4d21cb;
	--winhead: #efcfef;
	--winbody: #fef0ff;
	--cyan: #90f3e1;
}

* {
	font-family: 'Zpix' !important;
	border-radius: 0px !important;
}

.encore-dark-theme, .encore-dark-theme .encore-base-set {
  --text-base: var(--purple);
  --background-base: var(--winbody);
  --background-press: var(--winbody);
    --background-elevated-base: var(--winbody);
    --background-elevated-highlight: var(--winbody);
    --background-elevated-press:var(--winbody);
  --text-bright-accent: var(--purple);
  --text-subdued: var(--purple);
  --background-tinted-base: none;
    --background-tinted-highlight: none;
    --background-highlight: none;
    --background-tinted-press: none;
}

.encore-dark-theme .encore-inverted-light-set {
    --background-base: transparent;
        --background-highlight: transparent;
    --text-base: var(--purple);
}

/*windose background*/
.ZQftYELq0aOsg6tPbVbV{
	background-image: url(https://github.com/angelkawaiix/NSO-web-theme/blob/main/resources/windosebg.png?raw=true);
}

/*window border over everything*/
#global-nav-bar, #Desktop_LeftSidebar_Id, .JG5J9NWJkaUO9fiKECMA, .jEMA2gVoLgPQqAFrPhFw, .OTfMDdomT5S7B5dbYTT8, #lyrics-cinema {
    border-color: #4d21cb;
    border-style: solid;
    border-width: 7px;
    outline-color: #90f3e1;
    outline-offset: -5px;
    outline-style: solid;
    margin: 0.1rem;
}

.xOmT3apmEbwVlFt4HkBe, .C3jVNGQUUZcUp5kTEOC0, .Sm3POgzbjs7wFj7tyYNh{
        border-color: #4d21cb;
    border-style: solid;
    border-width: 7px;
    outline-color: #90f3e1;
    outline-offset: -5px;
    outline-style: solid;
}


/*center*/
.S4OmZ_IZexmZ5dasPqW5{
    visibility:hidden;
}

.hIFR8WDm_54EEIa1gwpC {
    background-color: var(--winhead) !important;
}

.mjZrvVI3CxfHJXu7y0Lg {
    opacity: 100;
}

.Z35BWOA10YGn5uc9YgAp .zXwER4Lsqq_e7fVVaPkZ {
    box-shadow: none;
}

.ZLSAuA1tn0bSdQRwhhj6.contentSpacing {
    margin-top: 10px;
}

.KjPUGV8uMbl_0bvk9ePv.J4qD2RoZgGLbOdpfs63w {
    padding-top: 3px;
}

.LVMjmN2CaPruPAo62RAY.HXlt7CQ7uXgHZ9UKA4tS {
    padding-inline: 1rem;
}

.hIFR8WDm_54EEIa1gwpC{
    border-color: #4d21cb;
    border-style: solid;
    border-width: 4.5px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.LVMjmN2CaPruPAo62RAY {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: stretch;
    padding-top: 1rem;
    background: transparent;
    height: 3rem;
    overflow: hidden;
    padding: 0 var(--content-spacing);
    border-bottom-color: var(--purple);
    border-bottom-width: 7px;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.hIFR8WDm_54EEIa1gwpC.fIvMht6B9HdROywMNJZ4:after {
    background-color: transparent;
}

/*global nav bar*/

.nmAHq8nfXRtoQmKU1gaF,
.pIM9jg__39NIpOvXG89b {
	content: url(https://github.com/angelkawaiix/NSO-web-theme/blob/main/resources/spotifyico.png?raw=true) !important;
	height: 2.2rem;
	object-fit: contain;
	padding-left: 2px;
}



button.Button-sc-1dqy6lx-0.kTFJuL.encore-text-body-medium-bold.KAq2kDjXj2VS4eXrFL4i {
    background-color: transparent !important;
}

a.Button-sc-qlcn5g-0.heiitI.encore-text-body-small-bold {
    visibility: hidden;
}

.b7r2WRiu5f9Q99qmyreh:hover .CVuGEUIxLkNKpMds8AFS {
    background: transparent;
    box-shadow: none;
}

.b7r2WRiu5f9Q99qmyreh>:last-child {
    visibility: hidden;
}

.b7r2WRiu5f9Q99qmyreh .CVuGEUIxLkNKpMds8AFS {
    background: transparent;
}

.cKplys {
    color: var(--purple);
}

.wp7mZFPzV7Qmo51F0NA_ .ETjtwGvAB4lRVqSzm8nA {
    color: var(--purple);
}

.wp7mZFPzV7Qmo51F0NA_ .dIfr5oVr5kotAi0HsIsW {
    background-color: transparent;
}

.wp7mZFPzV7Qmo51F0NA_{
background-color: var(--winhead);
}
