@font-face {
	font-family: "Zpix";
	src: url("https://raw.githubusercontent.com/angelkawaiix/NSO-web-theme/main/resources/zpix.woff2");
}

* {
	--purple: #4d21cb;
	--winhead: #efcfef;
	--winbody: #fef0ff;
	--cyan: #90f3e1;
}


* {
	font-family: 'Zpix' !important;
	border-radius: 0px !important;
    box-shadow: none; !important
}

/*windose background*/
.ZQftYELq0aOsg6tPbVbV{
	background-image: url(https://github.com/angelkawaiix/NSO-web-theme/blob/main/resources/windosebg.png?raw=true);
}

/*window border over everything*/
#global-nav-bar, #Desktop_LeftSidebar_Id, .JG5J9NWJkaUO9fiKECMA, .jEMA2gVoLgPQqAFrPhFw, .OTfMDdomT5S7B5dbYTT8, #lyrics-cinema {
    border-color: #4d21cb;
    border-style: solid;
    border-width: 7px;
    outline-color: #90f3e1;
    outline-offset: -5px;
    outline-style: solid;
    margin: 0.1rem;
}

/*global nav bar*/

.nmAHq8nfXRtoQmKU1gaF,
.pIM9jg__39NIpOvXG89b {
	content: url(https://github.com/angelkawaiix/NSO-web-theme/blob/main/resources/spotifyico.png?raw=true) !important;
	height: 2.2rem;
	object-fit: contain;
	padding-left: 2px;
}

.b7r2WRiu5f9Q99qmyreh:hover .CVuGEUIxLkNKpMds8AFS{
    background: transparent;
    box-shadow: none;
}

.cVYiaz {
    visibility: hidden;
}

.b7r2WRiu5f9Q99qmyreh .CVuGEUIxLkNKpMds8AFS {
    background: transparent;
}

.cKplys, .wp7mZFPzV7Qmo51F0NA_ .ETjtwGvAB4lRVqSzm8nA {
    color: var(--purple);
    background: transparent;
}

.wp7mZFPzV7Qmo51F0NA_{
background-color: var(--winhead);
}
